* {
    box-sizing: border-box;
}

.wrapper {
    width: 1000px;
    height: 1500px;

    background: #ff8040;
}

.p_10 {
    padding: 10px;
}

.d_flex {
    display: flex;
}

.j_c_s_b {
    justify-content: space-between;
}

.m_r_10 {
    margin-right: 10px;
}

.m_b_10px {
    margin-bottom: 10px;
}

.sand {
    width: 50%;

    background: #ffff80;
}

.green {
    height: 100px;

    background: #00ff00;
}

.cyan {
    height: 150px;

    background: #00ffff;
}

.red {
    width: 50%;

    background: red;
}

.f_direction {
    flex-direction: column;
}

.blue {
    width: 100px;
    height: 100px;

    background: blue;
}

.blue:nth-child(odd) {
    align-self: self-end;
}