* {
    box-sizing: border-box;
}

.wrapper {
    width: 1000px;
    height: 1000px;
    background: #ff00ff;
}

.p_10 {
    padding: 10px;
}

.d_flex {
    display: flex;
}

.f_col {
    flex-direction: column;
}

/* green */
.green {
    flex: 1;
    background: #00ff00;
}

.m_b_10 {
    margin-bottom: 10px;
}

.j_c_s_b {
    justify-content: space-between;
}

/* yellow */
.yellow {
    width: 33.333%;
    height: 100%;
    background: #ffff00;
}

/* blue */
.blue {
    width: 100px;
    height: 100px;
    background: #0000ff;
}

.f_reverse {
    flex-direction: row-reverse;
}

.a_items {
    align-items: end;
}

.blue_flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}