* {
    box-sizing: border-box;
}

.wrapper {
    width: 1000px;
    height: 1000px;

    background: red;
}

.p_10 {
    padding: 10px;
}

.d_flex {
    display: flex;
}

.f_direction_row {
    flex-direction: row;
}

.j_c_s_b {
    justify-content: space-between;
}

.m_b_10 {
    margin-bottom: 10px;
}

.m_r_10 {
    margin-right: 10px;
}

.w_space {
    white-space: nowrap;
}

.o_hidden {
    overflow-x: hidden;
}

.pos_stick {
    position: sticky;
    top: 0;
}

.yellow {
    width: 250px;
    height: 100%;

    background: yellow;
}

.green {
    height: 150px;

    background: #00ff00;
}

.burgundy {
    height: 100px;

    background: #800000;
}

.content {
    width: 100%;
    height: 100%;
}

.flex1 {
    flex: 1;
}

.f_direction_col {
    flex-direction: column;
}

.sand {
    height: 10%;

    background: #ffff80;
}

.pink_box {
    width: 100%;
    height: 25%;
}

.pink {
    width: 50%;

    background: #ff00ff;
}

.blue_box {
    width: 100%;
    height: 25%;
}

.blue {
    width: 50%;

    background: #0000ff;
}

.cyan {
    height: 37%;

    background: #00ff80;
}